:root {

    /* Layout */
    --max-width: 1200px;

    /* Colors */
    --color-background: #1A1A2E;
    --color-text: #EAEAEA;
    --color-wall: #000814;
    --color-cell: #F9C74F;
    --color-start: #90BE6D;
    --color-end: #F94144;
    --color-end-2: #F9844A;
    --color-clicked: #C77DFF;
    --color-hover: #3DB2A2;
    --color-solution: #F9844A;
    --color-accent1: #00BFFF;
    --color-accent2: #FF4DFF;

    /* Font Sizes */
    --font-size-md: 16px;
    --font-size-lg: 20px;
    --font-size-ex-lg: 24px;

    /* Font Weights */
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    /* Maze */
    --rows: 15;
    --cols: 15;
}

/* Body Styles */
body {
    max-width: var(--max-width);
    margin: 0 auto;
    justify-content: center;
    text-align: center;

    background-color: var(--color-background);
    color: var(--color-text);

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
    font-style: normal;

    transition: all 0.3s ease;
}

/* Maze Container Styles */
.maze-container {

    position: relative;
    display: grid;
    grid-template-rows: repeat(var(--rows), 1fr);
    grid-template-columns: repeat(var(--cols), 1fr);

    width: var(--maze-width);
    height: var(--maze-height);

    max-width: 500px;
    max-height: 500px;
    margin: 0 auto;
    margin-top: 25px;

    background-color: var(--color-background);
    border: 2px solid var(--color-wall);
    border-radius: 5px;

    transition: all 0.3s ease;
}

.maze-container.finish {
    animation: glow 1s ease-in-out;
    animation-delay: 0.5s;
}

.maze-container.solved::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    filter: blur(5px);
    width: calc(var(--maze-width) + 4px);
    height: calc(var(--maze-height) + 4px);
    background: linear-gradient(45deg, var(--color-accent1), var(--color-accent2), #7A80FF, var(--color-accent1));
    background-size: 400% 100%;
    opacity: 1;
    transition: opacity 0.4s ease;
    z-index: -1;
    animation: glowShift 20s linear infinite;
}

/* Cell Styles */
.cell {
    background-color: var(--color-background);
    border: 1px solid var(--color-wall);

    transition: all 0.3s ease;
    transition: filter 1.2s ease-out;
}

.cell.start {
    background-color: var(--color-start) !important;
    animation: lighter-glow 2s linear infinite !important;
}

.cell.end {
    background-color: var(--color-end) !important;
    animation: strong-glow 2s linear infinite !important;
}

.cell.visited {
    animation: cellPop 0.3s ease-out;
    background-color: var(--color-cell);
}

.cell.backtrack {
    animation: backtrackAnimation 0.3s ease-in forwards;
}

.cell.solution {
    background-color: var(--color-cell);
    animation: solutionReveal 1s linear forwards;
    animation-delay: calc(var(--anim-delay) * 0.05s);
}

.cell.clicked {
    background-color: var(--color-clicked) !important;
}

.cell.solution.clicked {
    background-color: var(--color-solution) !important;
}

.cell:hover {
    filter: brightness(1.4);
    background-color: var(--color-hover) !important;
    transition: all 0.2s ease;

}

@keyframes lighter-glow {
    0% {
        filter: brightness(1);
    }

    50% {
        filter: brightness(1.2);
    }

    100% {
        filter: brightness(1);
    }
}

@keyframes strong-glow {
    0% {
        filter: brightness(1);
    }

    50% {
        filter: brightness(1.6);
    }

    100% {
        filter: brightness(1);
    }
}

@keyframes cellPop {
    0% {
        transform: scale(0.2);
        background-color: var(--color-wall);
        opacity: 0;
    }

    60% {
        transform: scale(1.1);
        background-color: var(--color-cell);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        background-color: var(--color-cell);
    }
}

@keyframes backtrackAnimation {

    0% {
        background-color: var(--color-cell);
        transform: scale(1);
    }

    25% {
        background-color: var(--color-end);
        transform: translateX(-5px);
    }

    50% {
        background-color: var(--color-end-2);
        transform: translateX(5px);
    }

    100% {
        background-color: var(--color-cell);
        transform: scale(1);
    }

}

@keyframes glow {

    0% {
        filter: brightness(1);
    }

    50% {
        filter: brightness(1.4);
    }

    100% {
        filter: brightness(1);
    }
}

@keyframes solutionReveal {
    0% {
        background-color: var(--color-cell);
    }

    100% {
        background-color: var(--color-solution);
    }
}

@keyframes solvedGlow {
    0% {
        box-shadow: 0 0 0px rgba(0, 255, 255, 0.4);
    }

    50% {
        box-shadow: 0 0 20px rgba(0, 255, 255, 0.7);
    }

    100% {
        box-shadow: 0 0 0px rgba(0, 255, 255, 0.4);
    }
}

/* Input Container Styles */
.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 500px;
    margin: 30px auto;
}

.input-row {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.input-row span {
    width: 70px;
    text-align: right;
}

.input-row input[type="range"] {
    flex: 1;
}

.input-row input[type="text"] {
    width: 50px;
    text-align: left;
}

.button-row {
    margin-top: 20px;
    display: flex;
    gap: 50px;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, var(--color-accent1), var(--color-accent2));
    background-size: 120% 100%;
    background-position: left;
    border-radius: 5px;
    outline: none;
    transition: all 0.6s ease;
}

input[type="range"]:hover {
    background-position: right;
}

input[type="range"]::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: var(--color-text);
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid var(--color-accent1);
    transition: all 0.3s ease;
}

input[type='range']::-moz-range-thumb:hover {
    transform: scale(1.5);
}

input[type="text"] {
    background-color: #00000000;
    color: var(--color-text);
    font-size: var(--font-size-md);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--font-weight-bold);
    font-style: normal;
    width: 50px;
    outline: none;
    border: none;


}

.button {
    background: linear-gradient(to right, var(--color-accent1), var(--color-accent2));
    background-size: 150% 100%;
    background-position: left;
    color: var(--color-text);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--font-weight-bold);
    font-style: normal;
    transition: all 0.6s ease-in-out;
}

.button:hover {
    background-position: right;
    cursor: pointer;
}



.glowing-button {

    position: relative;
    padding: 10px 20px;
    margin: 0 auto;

    border: none;
    border-radius: 5px;

    background-color: var(--color-accent1);
    color: var(--color-text);

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--font-weight-bold);
    font-style: normal;
    cursor: pointer;
}

.glowing-button::before {


    content: "";
    position: absolute;
    top: -2px;
    filter: blur(3px);
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    /* width: 400%;
    height: 100%; */


    border-radius: 5px;

    background: linear-gradient(45deg, var(--color-accent1), var(--color-accent2), #7A80FF, var(--color-accent1));

    /* background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000); */
    background-size: 400% 100%;
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: -1;
}

.glowing-button:hover::before {
    opacity: 1;
    animation: glowShift 20s linear infinite;
}

@keyframes glowShift {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}